/* ----VARIABLES----------------------- */

:root {
    --texto-headline-900: 5rem;
    --texto-xl-800: 3.5rem;
    --texto-large-600: 3rem;
    --texto-medium-400: 1.5rem;
    --texto-small-400: 1.2rem;

}
 /* ----NORMALIZE----------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html {
    font-size: 62.5%;
}

img {
    width: 100%;

}

ul {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: inherit;

}

/* ------HELPERS -----------------------*/

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    min-height: 80vh;
    margin: 2rem 0;
}

.ver-mas {
    justify-self: end;
    align-self: flex-end;
    font-size: var(--texto-small-400) ;
    margin-top: 2rem;
}

.section-titulo {
    font-size: var(--texto-large-600);
    margin-bottom: 2rem;
}

.centrar {
    justify-self: center;
    align-self: center;
}

.titulo-paginas {
    padding-top: 5vh;
    text-align: center
    ;
}



body {
    background: linear-gradient(135deg,#000000, #4d4d4d); 
    background-repeat: no-repeat;
    color: white;
    font-size: var(--texto-small-400);
    font-weight: 400;
}

h1 {
    color: white;
    font-size: var(--texto-headline-900);
    font-weight: 800;
}

h4 {
    color: white;
    font-size: var(--texto-medium-400);
    font-weight: 400;
    
}
/* ------section HEADER -----------------------*/      
.header {
    padding: 2rem;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    display: block;
    max-width: 100px;
    min-width: 60px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 400;
    
}

.menu__item {
    font-size: var(--texto-medium-400);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #49B508;
    width: 16rem;
    height: 5rem;
    text-align: center;
    font-size: var(--texto-medium-400);
    text-shadow: 2px 2px 8px black;
    color: white;
    border-radius: 1rem;     
    
}

/* ------section HERO -----------------------*/
.hero {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    min-height: 80vh ;
    justify-items: center;
}

.hero__logo-img {
    width: 60%;
    min-width: 40%;
        
}

.hero__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: start;
    margin: 0 20px;
}

.hero__btn {
    width: 22rem;
}
/* ------section SEPARADOR -----------------------*/
.separador {
    display: flex;
    justify-content: center;
    background-color: black;
    max-width: 100vw;
    height: 20vh;    
}

.separador__txt {
    font-size: var(--texto-xl-800) ;
    font-weight: 200;
    text-align: center;
    align-self: center;
}
/* ------section SERVICIOS -----------------------*/
#servicios {
    display: flex;
    margin: 10vh 0;
    flex-direction: column;
    align-items: center;
    padding: 0 10vw;
    /* min-height: 100vh; */
}
.cards-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
}



.cards {
    flex: 1 1 180px;
    gap: 2rem;
    text-align: center;
    background: linear-gradient(135deg,#29292935, rgba(114, 114, 114, 0.308)); 
    padding: 1rem 1rem;
    border-radius: 1rem;
       
    
}

.cards__info{
    padding: auto;
}

.cards__titulo {
    font-size: var(--texto-medium-400);
    font-weight: 900;
    text-align: center;
}


/* ------section PROYECTOS -----------------------*/
#proyectos {
    display: grid;
    grid-template-rows: 3;
    margin: 10vh 0;
    padding: 0 10vw;
    justify-items: center;
}


.proyectos-card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-height: 50vh;

}


.proyectos-card__info {
    grid-column: span 6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    padding: 0 10%;
    color: black;
    
}

.proyectos-card__img {
    grid-column: span 6;
    max-height: 100%;
    object-fit:cover;
    
}

.proyectos-card__titulo {
    font-size: var(--texto-large-600);
}

.proyectos-card__texto {
    font-size: var(--texto-small-400);

}

/* ------section NOSOTROS -----------------------*/
#nosotros {
    display: grid;
    padding: 0 10vw;
    justify-items: center;
}

.cards-nos-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.cards-nos {
    grid-column: span 4;
    
}

.cards-nos__titulo{
    font-size: var(--texto-medium-400);
    font-weight: 900;
    text-align: center;
}

.cards-nos__descripcion{
    font-size: var(--texto-small-400);
    text-align: center;
}
/* ------section NECESITAS VIDEO -----------------------*/
#necesitas-video {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.necesitas-video__texto {
    font-size: var(--texto-xl-800);
    font-weight: 300;
}

.necesitas-video__negrita {
    font-size: var(--texto-xl-800);
    font-weight: 900;
    margin-left: 2%;
}
/* ------section FOOTER -----------------------*/
.footer-nav {
    display: flex;
    font-size: var(--texto-small-400);
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 1rem
}
.menu-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    
}

.footer-img {
    max-width: 3rem;
}

/* ------------PAGINA CONTACTO------------------ */

#formulario {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    min-height: 80vh;

}

.espacio-logo {
    grid-column: span 6;
    padding: 10rem 5rem;
    max-width: 50rem;
    margin: 0 2rem;
    justify-self: center;
    align-self: center;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 80%;
    
}

.card-form {
    grid-column: span 6;
    justify-self: flex-start;
    align-self: center;
    display: flex;
    align-content: space-around;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    height: 60%;
    min-height: 460px;
    width: 60%;
    min-width: 360px;
}


.formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.container-form__titulo {
    font-size: var(--texto-large-600);
    font-weight: 800;
}

.form-input {
    width: 100%;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.406);
    font-size: var(--texto-medium-400);
    font-weight: 300;
    border: none;
    outline: none;
    border-radius: .3rem;
    color: white;

}

.form-textarea {
    max-width: 100%;
    height: 30%;
}

/* ------------PAGINA NOSOTROS------------------ */

.trabajadores-container {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    overflow-x: hidden;
    gap: 10rem;
    margin: 10rem 0;

}

.trabajador {
    display: flex;
    justify-content: center;
}

.trabajador__img {
    z-index: 0;
    object-fit: cover;
    max-width: 45rem;
    transform: translate(50px,0);
}

.trabajador__info {
    z-index: 1;
    margin: 140px 0;
    width: 70%;
    max-width: 400px;
    min-width: 400px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(-50px,0);
    box-shadow: 0 5px 40px -5px rgb(0 0 0 / 80%);

}

.reverse-img {
    transform: translate(-50px,0);
}

.reverse-info {
    transform: translate(50px,0);
}



.trabajador__titulo {
    font-size: var(--texto-large-600);
    max-width: 70%;
}

.trabajador__texto {
    font-size: var(--texto-small-400);
    max-width: 70%;
}

/* ------------PAGINA SERVICIOS------------------ */


.container-servicio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    padding: 2% 0%;

}

.card-servicio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 400px;
    max-width: 250px;
    justify-content: center;
}

.card-servicio__img{
    padding: 10% 40%;
    align-self: center;

    
}

.cards-servicio__descripcion {
    font-size: var(--texto-small-400);
    width: 80%;
    align-self: center;
    text-align: justify;
}

.cards-servicio__titulo {
    width: 80%;
    font-size: var(--texto-medium-400);
    align-self: center;
    
}

/* ------------PAGINA PROYECTOS------------------ */

.proyectos {
    display: grid;
    grid-template-columns: repeat(12,1fr);

}

.trabajo {
    
    position: relative;
    grid-column: span 3;
}

.trabajo__img {
    height: 100%;
    object-fit: cover;
}





@media (max-width: 768px){
    :root {

        /* cambio de tamaño texto */
        --texto-headline-900: 4rem;
        --texto-xl-800: 3rem;
        --texto-large-600: 2rem;
        --texto-medium-400: 1.5rem;
        --texto-small-400: 1rem;
    
    }
    .header-nav{
        flex-direction: column;
        row-gap: 1em;
    }

    .hero {
        display: grid;
        grid-template-columns:none;
        grid-template-rows: repeat(2,fr);
        align-items: center;
        min-height: 70vh ;
    }
    .hero__logo {
        grid-row: 1;
        padding: 5rem 10rem;
    }

    .hero__info {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-self: center;
    }

    .footer-nav {
        flex-direction: column;
        gap: 3rem;
    }
    /* ------------PAGINA CONTACTO------------------ */
    .card-form {
        grid-column: span 12;
        justify-self: center;
    }

    .espacio-logo {
        display: none;
    }
    /* ------------PAGINA nosotros.html ------------------ */

    .trabajador__img {
        max-width: 30rem;
    }
    
    .trabajador__info {
        margin: 110px 0;
        width: 70%;
        max-width: 250px;
        min-width: 250px;
 
    
    }
    /* ------------PAGINA trabajos.html ------------------ */

    .trabajo {
        grid-column: span 4;
    }
    
    .trabajo__img {
        
        object-fit: cover;
    }
    
 

          
}



@media (max-width: 480px){
    
    .menu {
        flex-direction: column;
        
    }

    
    :root {

        /* cambio de tamaño texto */
        --texto-headline-900: 3rem;
        --texto-xl-800: 2rem;
        --texto-large-600: 1.5rem;
        --texto-medium-400: 1.25rem;
        --texto-small-400: 1rem;
    
    }
    .proyectos-card{
        margin: 2rem 0;
        gap: 1rem;
    }

    .proyectos-card__info {
        grid-column: span 12;
        color: white;
        gap: 1rem;
        align-items: center;
        background-color: inherit;
    }

    .reverse_order{
        grid-row-start: 2;

    }
    

    .proyectos-card__img {
        grid-column: span 12;
    }

    .proyectos-card__texto {
        display: none;
        background-color: none;
    
    }

    .cards-nos-container {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .cards-nos {
        grid-column: span 1;
        padding: 10% 10%;
        
    }
    /* ------------PAGINA CONTACTO------------------ */
    .container-form {
        gap: 3rem;
        width: 80%;
        
    }
    
    .card-form {
        grid-column: span 12;
        justify-self: center;
    }

    .espacio-logo {
        display: none;
    }
    .card-form {
        grid-column: span 12;
        justify-self: center;
        align-self: flex-start ;
        margin: 5rem 0;

        min-height: 360px;

        min-width: 260px;
    }
    /* ------------PAGINA NOSOTROS------------------ */
    .trabajador__img {
        max-width: 100%;
        max-height: 70vh;
        /* transform: translate(-50px,0); */
    }
    
    .trabajador__info {
        margin: 50px 0;
        width: 80%;
        max-width: 175px;
        min-width: 175px;
        transform: translate(-70px,0);
        text-align: end;
 
    }

    .reverse-img {
        transform: translate(0,0);
    }
    
    .reverse-info {
        text-align: start;
        transform: translate(70px,0);
    }

    .trabajador__titulo {
        font-size: 2rem;

    }
    /* ------------PAGINA trabajos.html ------------------ */

    .trabajo {
        grid-column: span 12;
    }
    
    .trabajo__img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }

}

