<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyramid Media</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;0,900;1,200;1,300&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- inicio header -->
    <header class="header">
        <nav class="header-nav container">
            <a class="header-logo" href="../index.html"><img class="header-logo__img" src="../img/Logo Pyramid.png" alt="Logo Pyramid media"></a>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="./nosotros.html">sobre nosotros</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./servicios.html">servicios</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./trabajos.html">nuestro trabajo</a>
                </li>
            </ul>
            <a class="menu__link" href="./contacto.html"><div class="btn"><span> Contacto</span></div></a>
        </nav>     
    </header>
    <!-- fin header -->

    <main class="pagina-contacto container"> 
        
            <section id="formulario">
            <img class="espacio-logo"src="../img/pyramid.png" alt="">
            <div class="card-form">
                <div class="container-form">
                    <h1 class="container-form__titulo">CONTACTO</h1>
                    <form class="formulario" classaction="" method="post">
                        <label for="nombre">Nombre completo:</label>
                        <input class="form-input" id="nombre" type="text" name="nombre_apellido">
                        <label for="mail">Correo:</label>
                        <input class="form-input" id="mail" type="email" name="mail">
                        <label for="consulta">Contanos sobre tu proyecto:</label>
                        <textarea class="form-input form-textarea" name="consulta" id="consulta"></textarea>
                        <input class="btn centrar" type="submit">

                    </form>
                </div>
            </div>  

        </section>
    </main>
<!-- inicio footer -->
    <footer id="footer">
        <nav class="footer-nav container">
            <ul class="menu-footer">
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./nosotros.html">sobre nosotros</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./servicios.html">servicios</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./trabajos.html">nuestro trabajo</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./contacto.html">Contacto</a>
                </li>
            </ul>
            <img class="footer-img" src="../img/pyramid.png" alt="pyramid-logo">
            <p>Copyright © 2022 Pyramid Media, MVD</p>
        </nav> 
    </footer>
</body>
</html>