<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyramid Media</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;0,900;1,200;1,300&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="../index.html"><img class="header-logo" src="../img/Logo Pyramid.png" alt="Logo Pyramid media"></a>
        <nav class="barra-nav">
            <ul class="barra-nav__menu">
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./nosotros.html">sobre nosotros</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./servicios.html">servicios</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./trabajos.html">nuestro trabajo</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./contacto.html"><div class="btn">Contacto</div></a>
                </li>
           </ul>
       </nav>     
    </header>
    <main> 
        <article  class="trabajador">
            <img class="trabajador-left__img" src="../img/generic-male.jpg" alt="proyecto montevideo vandal mix">
            <div class="trabajador-left__info">
                <h3 class="trabajador__titulo">Mauricio Carreño</h3>
                <p class="trabajador__texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, odio repellendus.</p>
            </div>   
        </article>
        <article  class="trabajador">
            
            <div class="trabajador-right__info">
                <h3 class="trabajador__titulo">Diego Curutchet</h3>
                <p class="trabajador__texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, odio repellendus.</p>
            </div>
            <img class="trabajador-right__img" src="../img/generic-male.jpg" alt="proyecto montevideo vandal mix">   
        </article>
        <article  class="trabajador">
            <img class="trabajador-left__img" src="../img/generic-male.jpg" alt="proyecto montevideo vandal mix">
            <div class="trabajador-left__info">
                <h3 class="trabajador__titulo">Kike Antunez</h3>
                <p class="trabajador__texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, odio repellendus.</p>
            </div>   
            
        </article>
        <a href="../index.html">VOLVER A INICIO</a>
    </main>
    
    <footer class="footer">
        <nav class="barra-nav">
            <ul class="barra-nav__menu">
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./nosotros.html">sobre nosotros</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./servicios.html">servicios</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./trabajos.html">nuestro trabajo</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./contacto.html"><div class="btn">Contacto</div></a>
                </li>
           </ul>
        <p>Copyright © 2022 Pyramid Media, MVD</p>
        </nav>
       
    </footer>
</body>
</html>