<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyramid Media</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;0,900;1,200;1,300&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="../index.html"><img class="header-logo" src="../img/Logo Pyramid.png" alt="Logo Pyramid media"></a>
        <nav class="barra-nav">
            <ul class="barra-nav__menu">
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./nosotros.html">sobre nosotros</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./servicios.html">servicios</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./trabajos.html">nuestro trabajo</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./contacto.html"><div class="btn">Contacto</div></a>
                </li>
           </ul>
       </nav>     
    </header>
    <main>
        <article class="container-servicio">
            <h2 class="container-servicio__titulo">SERVICIOS</h2> 
            <section class="card-servicio">
                <img class="card-servicio__img" src="../img/photoCam.png" alt="pyramid redes sociales">
                <h3 class="cards__titulo">FOTOGRAFÍA</h3>
                <p class="cards__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, odio repellendus. Possimus delectus perspiciatis, consequuntur maiores tenetur veniam natus et illo dolorem harum modi ex dignissimos praesentium, non incidunt saepe?</p>                   
            </section>
            <section class="card-servicio">
                <img class="card-servicio__img" src="../img/videoCam.png" alt="pyramid eventos filmacion">
                <h3 class="cards__titulo">PRODUCCIONES AUDIOVISUALES</h3>
                <p class="cards__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, odio repellendus. Possimus delectus perspiciatis, consequuntur maiores tenetur veniam natus et illo dolorem harum modi ex dignissimos praesentium, non incidunt saepe?</p>                           
            </section>
            <section class="card-servicio">
                <img class="card-servicio__img" src="../img/diseñoGrafico.png" alt="pyramid filmacion corporativa">
                <h3 class="cards__titulo">DISEÑO GRÁFICO</h3>
                <p class="cards__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, odio repellendus. Possimus delectus perspiciatis, consequuntur maiores tenetur veniam natus et illo dolorem harum modi ex dignissimos praesentium, non incidunt saepe?</p>                      
            </section>
        </article> 
        
    </main>
    
    <footer class="footer">
        <nav class="barra-nav">
            <ul class="barra-nav__menu">
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./nosotros.html">sobre nosotros</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./servicios.html">servicios</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./trabajos.html">nuestro trabajo</a>
                </li>
                <li class="barra-nav__item">
                    <a class="barra-nav__link" href="./contacto.html"><div class="btn">Contacto</div></a>
                </li>
           </ul>
        <p>Copyright © 2022 Pyramid Media, MVD</p>
        </nav>
       
    </footer>
</body>
</html>