/* ------section HEADER -----------------------*/      
.header {
    padding: 2rem;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    display: block;
    max-width: 100px;
    min-width: 60px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 400;
    
}

.menu__item {
    font-size: var(--texto-medium-400);
    transition: all 0.2s;
}

li.menu__item:hover {
    transform:translateY(-4px);
}


