/* ------section HEADER -----------------------*/      
.header {
    padding: 2rem;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    display: block;
    max-width: 100px;
    min-width: 60px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 400;
    
}

.menu__item {
    font-size: var(--texto-medium-400);
    transition: all 0.2s;

}

.menu__item--active {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-radius: 2px;
    

}



li.menu__item:hover {
    transform:translateY(-2px);
    color: map-get($colores , to-action);
    
}


