/* ----VARIABLES----------------------- */
:root { 
    --texto-headline-900: 5rem;
    --texto-xl-800: 3.5rem;
    --texto-large-600: 3rem;
    --texto-medium-400: 1.5rem;
    --texto-small-400: 1.2rem;

    --color-primary: rgb(33, 37, 41);
    --color-secondary: rgb(52, 58, 64); 
    --color-secondary-light: rgb(173, 181, 189); 
    --color-to_action: #29bf12; 
    --text-color:rgb(248, 249, 250);  
}
