/* ----VARIABLES----------------------- */
:root { 
    --texto-headline-900: 5rem;
    --texto-xl-800: 3.5rem;
    --texto-large-600: 3rem;
    --texto-medium-400: 1.5rem;
    --texto-small-400: 1.2rem;

   /*  --color-primary: #181818;
    --color-secondary: #242424; 
    --color-secondary-light: rgb(142, 142, 142); 
    --color-to_action: #29bf12; 
    --text-color:rgb(248, 249, 250);  */ 
}
/* mapas */

$colores: 
(
primary: #181818,
secondary:#242424, 
sec-light:rgb(142, 142, 142), 
to-action:#29bf12, 
text:rgb(248, 249, 250)
);

